<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Quote
    </title>
</head>
<body>
    <p>Edit Quote</p>

    <form action="/update/{{quote.id}}" method="post"> {% csrf_token %}
        <label for="source">Quoted By: </label>
        <input type="text" name="source" id=""><br>
        <label for="content">Message: </label>
        <textarea name="content" id="" cols="30" rows="10"></textarea><br><br>
        <input type="submit" value="Update Quote">
    </form>
</body>
</html>