<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Login or Register</title>
        <style>
            form {
                background-image: linear-gradient(45deg, pink, yellowgreen);
                width: 500px;
                clear: both;
            }
        </style>
    </head>
    <body>
        <ul>
            {% if messages %}
                {% for message in messages %}
                    <li>{{message}}</li>
                    {% endfor %}
                {% endif%}
        </ul>
        <h1>Welcome!</h1>

        <h1>Register</h1>
        <form action="/register" method="post"> {% csrf_token %}
            <label for="name">Name: </label>
            <input type="text" name="name" id=""><br>
            <label for="email">Email: </label>
            <input type="text" name="email" id=""><br>
            <label for="password">Password: </label>
            <input type="password" name="password" id=""><br>
            <label for="confirm">Confirm Password: </label>
            <input type="password" name="confirm" id=""><br>
            <input type="submit" value="Register">
        </form>

        <h1>Login</h1>
        <form action="/login" method="post"> {% csrf_token %}
            <label for="email">Email: </label>
            <input type="text" name="email" id=""><br>
            <label for="password">Password: </label>
            <input type="password" name="password" id=""><br>
            <input type="submit" value="Login">
        </form>
    </body>
</html>